.bg-green{
  background-color: #6abd45;
}
.logo{
  margin: 0;
  padding: 0;
  width: 75px; 
  height: 65px;
  margin-top: -8px;
  margin-bottom: -8px;
  display: block;
}
.App{
  margin: 0;
  padding: 0;
}
