/* .slider-div{
  margin-top: 50px;
} */
.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 80vh;
  background-color: white;
  padding-top: 30px;
}

.carousel .slide img {
  max-height: 90%;
}

.image {
  margin: 1vh auto;
  height: 100%;
  width: auto;
  max-width: 1300px;
  background-color: #6ABD45;
}

@media only screen and (max-width: 1200px) {
  .carousel {
    height: 90vh;
  }
  .image {
    margin: 0vh auto;
  }
}

@media only screen and (max-width: 900px) {
  .carousel {
    height: 60vh;
  }
}
@media only screen and (max-width: 750px) {
  .carousel {
    height: 60vh;
  }
}
@media only screen and (max-width: 650px) {
  .carousel {
    height: 45vh;
  }
}
@media only screen and (max-width: 550px) {
  .carousel {
    height: 35vh;
  }
}
