@import url("https://fonts.googleapis.com/css?family=Poppins");

.aboutContent {
  font-family: "Poppins";
   overflow-x: hidden;
}
.aboutSection {
  
  padding: 30px 10px 15px 0px;
  text-align: justify;
}

.aboutImage img {
  width: 100%;
  margin: auto ;
}


.aboutContent h1 {
  font-size: 44px;
}
.aboutContent p {
  font-size: 16px;
}
.aboutSocial {
  display: block;
}
.aboutSocial h2 {
  color: #6abd45;
  font-size: 28px;
  font-weight: bold;
}
.aboutSocial img {
  width: 80px;
  border-radius: 50%;
}

/* Responsive CSS */


@media screen and (max-width: 700px) {
  .aboutSection {
    padding: 10px;
  }
  .aboutContent h1 {
    font-size: 28px;
  }
  .aboutContent p {
    font-size: 14px;
  }
  .aboutSocial h2 {
    font-size: 24px;
  }
  .aboutImage {
    padding: 25px;
  }
  .aboutSocial img {
    width: 50px;
    padding-right: 0;
  }
  .text-center{
    padding-top:2rem;
  }
}
@media screen and (max-width: 1000px){
.text-center{
    padding-top:4rem;
  }
}
