.wrapper{
    
    background-color: #74c043;
    font-family:Roboto;
    overflow-x: hidden;
}
.col-sm-3{
 
  height:100%;
  margin-top:15px;
}
.col-sm-5{
   height:100%;
  margin-top:15px;
    border-left: 2px solid #fff;
}
a{
  color:#fff;
  text-decoration:none;
}
a:hover {
  color:#fff;
}
.col-sm-4{
  margin-top:8rem;
}
hr{
   border: 1px solid white;
   margin-top: -20px;
}